---
const pageTitle = "Page d'accueil";
import Navigation from '../components/Navigation.astro';
---

<html lang="fr">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} >
    <title>{pageTitle}</title>
  </head>
  <body>
	<Navigation />

    <h1>{pageTitle}</h1>
    <p>contenu</p>
  </body>
</html>